<div class="pt-3 dashBoard">
  <h2>Dashboard</h2>
  <hr>
  <div class="d-flex justify-content-center ligne row">
    <div class="blockSection block1 col-sm-6">
      GEEV api live status
    </div>
    <div class="blockSection block2 col-sm-6">
      <p>UPTIME</p>
      <span>100.00%</span>
      
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>TIME</th>
        <th>TIME (REL.)</th>
        <th>RESPONSE TIME</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let result of resultsFilter; let index = index;">
        <td>
          <img class="image" src="assets/medias/up-arrow.png" alt="upload"/>
          {{ result.tempTime }}
        </td>
        <td>
          {{ result.rel }}
        </td>
        <td>
          {{ result.diff }} ms
        </td>
      </tr>
    </tbody>
  </table>
</div>

